*{
    font-family: arial;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(235, 18%, 26%);
    padding-top: 50px;
}
.container{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.content{
    width: 60%;
    height: 100%;
    padding: 30px;
    padding-left: 20px;
    text-align: left;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content h1{
    text-align: center;
    letter-spacing: 2px;
    color: hsl(234, 29%, 20%);
}
.content p{
    font-size: 15px;
    color: hsl(235, 18%, 26%);
    line-height: 1.5;
}
.content p img{
    margin-right: 10px;
    width: 15px;
    margin-top: 5px;
}
form{
    width: 100%;
}
.content form label{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.content form input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.content form button,button{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: hsl(234, 29%, 20%);
}
.content form button,button{
    cursor: pointer;
}
.content form button,button{
    margin-top: 10px;
    border: none;
}
.content form button:active,button:active{
    box-shadow: 0 0 10px hsl(4, 100%, 67%);
    background-color: hsl(4, 100%, 67%);
}
.content form button a,button{
    text-decoration: none;
    color: white;
    background-color: hsl(234, 29%, 20%);
}


.imagediv{
    width: 40%;
    height: 100%;
    padding: 10px;
    padding-left: 0px;
    padding-right: 40px;
}
.imagediv img{
    width: 110%;
    height: 100%;
    object-fit: contain;
}
.attribution { 
    color: white; 
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}
.attribution a {
     color: gold; 
}


/* for mobile */
@media(max-width: 375px){
    body{
        background-color: white;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
        height: auto;
        flex-direction: column;
        overflow-x: hidden;
    }
    .content{
        width: 100vw;
        height: auto;
        overflow-x: hidden;
    }
    .content h1{
        font-size: 24px;
        margin-bottom: 30px;
        font-size: xx-large;
    }
    .imagediv{
        width: 100vw;
        height: auto;
        padding: 0;
        margin: 20px;
        margin-right: 100px;
    }
    .imagediv img{
        width: 90%;
        height: auto;
    }
    .imagediv img{
        src: "assets/images/illustration-sign-up-mobile.svg";
        box-sizing: border-box;
        object-fit: cover;
    }
    .attribution{
        overflow-x: hidden;
        color: black;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .attribution a{
        color: blue;
    }
}

.success-message{
    width: 33%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.success-message img{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.success-message h1{
    color: hsl(234, 29%, 20%);
    text-align: left;
}
.success-message p{
    color: hsl(235, 18%, 26%);
    line-height: 1.5;
    text-align: left;
}
.success-message button a{
    text-decoration: none;
    color: white;
}
@media(max-width: 375px){
    .success-message{
        width: 80vw;
        box-sizing: border-box;
        padding-top: 10px;
    }
    .success-message button{
        width: 100%;
        margin-top: 70px;
    }
}
.attribution a{
        color: red;
        font-weight: bold;
        font-size: larger;
}
#errorMessage {
    margin-left: 70px;
    font-weight: 100;
    color: red;
    display: none;
}
.companyEmail {
    font-weight: bold;
}
